<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="SDK with Rhino">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="http://download.eclipse.org/releases/2020-09"/>
            <unit id="org.eclipse.sdk.feature.group" version="4.17.0.v20200902-1800"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository"/>
            <unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
            <unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
            <unit id="org.mozilla.javascript" version="1.7.10.v20190430-1943"/>
            <unit id="org.mozilla.javascript.source" version="1.7.10.v20190430-1943"/>
        </location>
    </locations>
</target>
